{% extends "base.html" %}

{% block title %}FlaskDA{% endblock %}

{% block page_content %}
      <head>
	<title> About FlaskDA </title>
        <link rel="stylesheet" href='../static/style.css'/>
      </head>
      <body>
      <hr>
      This application is designed to display via web browser some of 
      the items associated with a data acquisition system. The primary
      page shows positional data along with other GPS qualities. 
      <hr>
      <p> @2022 CBL </p>
      </body>
{% endblock %}

