<!DOCTYPE html>
<html>
  <head>
    <title> lassen GPS data </title>
    <!-- https://www.w3schools.com/css/css_table.asp -->
    <link rel="stylesheet" href='../static/style.css'/>
  </head>
  <body>
    <h1> Data Panel </h1>
    <table id=rawdata>
      <tr>
	<th><b> Label </b> </th>
	<th><b> Value </b> </th>
      </tr>
      <tr>
        <td> <b>Time</b>      </td>
        <td> {{ time }} </td>
      </tr>
      <tr>
        <td> <b>Latitude</b>  </td>
        <td> {{ LatDeg }} {{ LatMin }} {{ LatSec }}</td>
      </tr>
      <tr>
        <td> <b>Longitude</b> </td>
        <td> {{ LonDeg }} {{ LonMin }} {{ LonSec }} </td>
      </tr>
      <tr>
        <td> <b>Altitude</b>  </td>
        <td> {{ Alt }} </td>
      </tr>
    </table>
    <hr>

    <a href="/" class="button">REFRESH</a>

    <!-- This is a POST method. It has to have a /SetScale method
      inside the flask program. The method will retrive the results
      and just return the index.html template. 
    -->
<!--
    <form action="/SetScale"" method="POST">
        <label for="fScale"> Scale </label> 
        <input type="number" id="fScale" name="fScale" value="1000"> 
	<input type="submit" value="Set">
    </form>
-->
    <!-- https://www.w3schools.com/tags/tag_select.asp -->
    <!-- https://www.w3schools.com/jsref/dom_obj_select.asp -->
    <!-- If I use the selected keyword here. It will end up overriding
         the set value -->
    <!-- Have all of the functions go through the parent form. -->
    <form action="/" method="POST">
	<label for="fScale"> Choose scale: </label>
	<select name="fScale" id="fScale">
	  <option value = "1"> 1 </option>
	  <option value = "10"> 10 </option>
	  <option value = "100"> 100 </option>
	  <option value = "200"> 200 </option>
	  <option value = "500"> 500 </option>
	  <option value = "1000" selected> 1,000 </option>
	  <option value = "5000"> 5000 </option>
	  <option value = "10000"> 10,000 </option>
	</select>
	<input type="submit" value="Set Scale" name="Submit"/>

	<fieldset>
	  <legend> Select Grid Type: </legend>
	  <div>

	    <input type="radio" id="Lat-Lon" name="gridtype" value="LatLon" checked>
	      <label for="Lat-Lon"> Lat-Lon </label>
	  </div>

	  <div>
	    <input type="radio" id="X-Y" name="gridtype" value="XY">
	      <label for="X-Y"> XY </label>
	  </div>
	  <input type="submit" value="Set Grid" name="Submit">
	</fieldset>
      </form>
    <hr>
    <img src="/plot/scat" alt="Image Placeholder" width="49%">
    <hr>
    <p> @2022 CBL </p>
  </body>
</html>
