body {
    background: blue;
    color: yellow;
    padding: 1%
}
.button {
    font: bold 15px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px wpx 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
img{ 
  display: display: inline-block
}
#rawdata { 
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  padding: 1px;
  width: 100%;
  column-width:auto
}
#rawdata td
{ 
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: center;
}
#rawdata th { 
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: center;
}
