body {
    background: black;
    color: white;
    padding: 1%
}
.button {
    font-family: Arial, Helvetica, sans-serif;
    font: bold 15px Arial;
    text-decoration: none;
    text-align: center;
    background-color: #EEEEEE;
    border: 2px solid blue;
    border-radius: 8px;
    padding: 15px 32px;
    display: inline-block;
    color: #333333;
    margin: 4px 2px;    
    width:  75px;
    height: 15px;
}
.label{  
    font-family: Arial, Helvetica, sans-serif;
    font: bold 15px Arial;
    text-decoration: none;
    text-align: center;
    background-color: #EEEEEE;
    border: 2px solid blue;
    /*border-radius: 8px;*/
    padding: 15px 32px;
    display: inline-block;
    margin: 4px 2px;    
    width:  75px;
    height: 15px;
}
img{ 
  display: display: inline-block
}
/* These setup the values for the table displaying the raw data. */
#rawdata { 
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  padding: 1px;
  column-width:auto
}
#rawdata td
{ 
  width:30px;
  border: 1px solid #0000FF;
  padding: 8px;
  text-align: center;
  vertical-align: center;
  color:#000000;
  background-color: #96D4D4;
}
#rawdata th { 
  width:200px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: center;
  color:#000000;
  background-color:#FFFFFF;
}
